{% extends 'base.html' %}

{% block body %}
<div class="login-block">
    <img src="/static/1.png" alt="Scanfcode">
    <h1>{% trans "Password recovery" %}</h1>
  {% if validlink %}
    <form method="post">
        {% csrf_token %}
      <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="password" name="new_password1" autocomplete="new-password" required="" id="id_new_password1" placeholder="{% trans "New password" %}">
            </div>
        </div>

        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-lock"></i></span>
                <input class="form-control" type="password" name="new_password2" autocomplete="new-password" required="" id="id_new_password2" placeholder="{% trans "Repeat new password" %}>
              </div>
        </div>
     <button class="btn btn-primary btn-block" type="submit">{% trans "Change password" %}</button>
    </form>
  {% else %}
    <p style="color: white">
      Ошибка востановления пароля. Пожалуйста повторите процедуру востановления!
    </p>
  {% endif %}
</div>
{% endblock %}