{% extends 'base.html' %}

{% block body %}
<div class="login-block">
    <img src="/static/1.png" alt="Scanfcode">
    <h1>{% trans "Password recovery" %}</h1>
    <form method="post">
        {% csrf_token %}
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-at"></i></span>
                <input class="form-control" type="email" name="email" maxlength="254" required="" id="id_email" placeholder="E-mail">
            </div>
        </div>
        <button class="btn btn-primary btn-block" type="submit">{% trans "recovery" %}</button>
    </form>
</div>
{% endblock %}