{% load i18n %}{% get_current_language as lang %}
{% load static %}
<html lang="{{ lang }}">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% trans "Social" %}{% endblock %}</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://fonts.googleapis.com/css?family=Press+Start+2P|Ruslan+Display&display=swap" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="/static/js/base.js"></script>
    <link rel="stylesheet" href="{% static '/css/style.css' %}">
</head>
<body>
    <canvas id="canvas" width="100%" height="100%"></canvas>
    <div id="modal">
        <div class="modal-content">
            <span class="close"><i class="fa fa-close"></i></span>
            <div class="content"></div>
        </div>
    </div>
    <div class="header">
        <div class="logo"><span>{% trans "in step" %}</span></div>
        <div class="navigate">
            {% if user.is_anonymous %}
                <a href="/logon">{% trans "sign" %} </a>
                <a href="/signup">{% trans "sign up" %}</a>
            {% else %}
                {% include 'search.html' %}
                <p>{% trans "Wellcome" %} {{user.first_name}}</p>
                <a href="/logout">{% trans "exit" %}</a>
            {% endif %}
        </div>
    </div>
    <div class="content">
        {% block body %}
        {% endblock %}
    </div>
<script src="/static/js/back.js"></script>
</body>
</html>