{% extends "base.html" %}

{% block body %}
{% load i18n %}
<div class="login-block">
<img src="/static/1.png" alt="Scanfcode">
<h1>{% trans "enter your data" %}</h1>
{% if error %}
  <small style="color: red">{{ error }}</small>
{% endif %}
<form method="post">
      {% csrf_token %}
<div class="form-group">
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-user ti-user"></i></span>
    <input type="text" name="login" class="form-control" maxlength="100" required="" id="id_login" placeholder="{% trans "Login" %}">
</div>
</div>

<div class="form-group">
<div class="input-group">
    <span class="input-group-addon"><i class="fa fa-lock ti-unlock"></i></span>
    <input type="password" class="form-control" name="password" maxlength="100" required="" id="id_password" placeholder="{% trans "Password" %}">
</div>
</div>

<button class="btn btn-primary btn-block" type="submit">{% trans "LOGIN TO THE SITE" %}</button>
<div class="login-footer">
<p class="text-center"><a class="txt-brand" href="/password_reset"><font color=#29aafe>{% trans "Password recovery" %}</font></a></p>
</div>

</form>
</div>

<div class="login-links">
<p class="text-center" style="color: #fff;">{% trans "Don't have an account yet?" %} <a class="txt-brand" href="/signup"><font color=#29aafe>{% trans "Sign up" %}</font></a></p>
</div>

{% endblock %}